# Test run of bdfitter

2014-02-10

successful run of one galaxy
should talk a closer look at `sersic.pro, fit_sample.pro, and make_input.py`

